/* Basic editor styles */
.buttons {
    position: relative;
    white-space: nowrap;
}

@media (max-width: '1350px') {
    .buttons {
        overflow-x: scroll;
    }
}

.buttons button {
    position: relative;
    height: 29.19px;
    color: #000;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin: 0.2rem !important;
    padding: 0.1rem 0.4rem !important;
    background: white;
    accent-color: black;
    font-weight: 500;
}

.ProseMirror {
    height: auto;
}

.ProseMirror p.is-editor-empty:first-child::before {
    color: #718096;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

button .popup {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    white-space: break-spaces;

    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 0%;
    margin-bottom: 5px;
}

button .popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

button:hover .popup {
    visibility: visible;
}

button:disabled {
    opacity: .3;
    pointer-events: none;
}

.is-active {
    background-color: black !important;
    color: white !important;
}

.is-active-img {
    position: relative !important;
    top: 6px !important;
    background-color: black !important;
    color: white !important;

    img {
        filter: brightness(0) invert(1) !important;
    }
}

.img {
    position: relative;
    top: 6px;
}

.ol {
    position: relative;
    top: 6px;

    img {
        filter: brightness(0);
    }
}



.ProseMirror {

    transition-property: border-color,
    box-shadow,
    transform;
    transition-duration: 200ms;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    padding-block: 10px;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol {
        margin-left: 10px;
        margin-right: 10px;
    }

    ul,
    ol {
        padding: 0 1rem;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    h5 {
        font-size: 0.83em;
    }

    h6 {
        font-size: 0.67em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.1;

    }

    code {
        background-color: rgba(#616161, 0.1);
        color: #616161;
    }

    pre {
        background: #0D0D0D;
        color: #FFF;
        font-family: 'JetBrainsMono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        overflow: auto;
        white-space: pre !important;

        code {
            color: inherit;
            padding: 0;
            width: 100%;
            background: none;
            font-size: 0.8rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote {
        padding-left: 1rem;
        border-left: 2px solid rgba(#0D0D0D, 0.1);
    }

    hr {
        border: none;
        border-top: 2px solid rgba(#0D0D0D, 0.1);
        margin: 2rem 0;
    }

}

.ProseMirror:hover {
    border-color: #CBD5E0;
}

.ProseMirror:focus {
    outline: 2px solid transparent;
    border-color: #3182ce;
    box-shadow: 0 0 0 1px #3182ce;
}