<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id=":3rc" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div>
            <center>
                <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="564px">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" id="m_2620007243134619526bodyCell">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                    class="m_2620007243134619526templateContainer">
                                    <tbody>
                                        <tr>
                                            <td valign="top" id="m_2620007243134619526templatePreheader">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:9px">
                                                                <table align="left" width="100%" border="0"
                                                                    cellpadding="0" cellspacing="0"
                                                                    style="min-width:100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top"
                                                                                style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                <img align="center" alt=""
                                                                                    src="https://lh3.googleusercontent.com/pw/AL9nZEWEzEnEk3s-nFC1_c6gfywOXnQmHxDGc-O2DdxVXQiSrLDTpaQerjaxqWkAH5x5nAkmLZ2e-WMZjlQAlFA9d1NrcQQWGMrsPtu5MLDH0rXtov9xt1et7LTKGmLfGfPVJY7y8uo5Ftz3y1OhHVfjwhk=w1200-h200-no?authuser=0"
                                                                                    width="564" height="94"
                                                                                    style="max-width:1200px;padding-bottom:0;display:inline!important;vertical-align:bottom"
                                                                                    class="m_2620007243134619526mcnImage CToWUd"
                                                                                    data-bit="iit">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" id="m_2620007243134619526templateHeader">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-top:9px">
                                                                <table align="center" border="0" cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="max-width:100%;min-width:100%" width="100%"
                                                                    class="m_2620007243134619526mcnTextContentContainer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top"
                                                                                class="m_2620007243134619526mcnTextContent"
                                                                                style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                <img src="https://lh3.googleusercontent.com/5ThUdL0Gn85L5badb2WmAb3iOfDYZpsjvRLnY4AmaT3HGlglVuUbuGvWSB_dv0lpR_0ZajP_QpXYM9ztOBfAfwf04her4hTG8iA1udLfVS2ESpojSJL0bAPQc-gwPJRBKIhhniDwYTkVli_PHP3HXQk16Jc1fVRmVM9ocHfzRHuVa-1Avgq6JVuoA-jdqaiAMXsZSO-wg7bnTgPMTauqXWcG2pQWjsUA0Ufy8UcJO-GHZbAizZulQRT-WD80Bw9Fz934wTJoapYPliTzVuhldmpnEixBV8IIjsXvscc1UNqWkfhBgk9d2GXf9yGBCWe5GNTE1wAB1Ymmq8-MipygOzszsBRU8bMSHtu82RkUl9jfUZx3Nsk8y6rmw_D_KB7e64JbIlGO0f2qIVyyJC_F00iHHYMuffuWBCeNQugK_jtkxOorb-2bM7UHQQjFU3oKGA6vpM978B5_YDpuCcFFO37yDpmS2qJ5T6pHX9_ansy1WOh2Koq2Isn45NO0nun91iIvmOOkAvX9GOIJxtghNK7c7we4J7gnPoKAt7gnnV97icluYaWdFYwMnwG3wQ90ay7LoNkd3pMiaVIuZZmsJAQPqVrOHzQM9RNROeXM1IJCN-Avk7deOp2zZcwCPaGB1V9Wj5jvAShovxrv1TeiS01jKUFICs4qN0rsk3X3gvnt23T5axssJ5FhFV8gvH8kkNO91G01hmYjFZzcLJCFsAeTbFr6bGIZoGI92gT1HsNzJhXx9iSCpRfKqD9dLTSfEdQc9ExVKXZSc00OEhWMrehSstVCriWq0GTPqn2BtKm2Du3hWcdjNXoC5kwpAFDYhoYfhqzdcvR1ATRSX0LiKJrov7TrKm_g_WS0w9FTzdakPOump7g1YF7afK7omFQsv3MicwYYDw-LPZd-BYrGTQi7LIacoP0Xh3QZcoOMbgE5DAKlRRUqUFMM4NqR8vciup6ljFF4FcR-TcSzUPaT=s912-no?authuser=0"
                                                                                    align="center" alt="" width="50"
                                                                                    height="50"
                                                                                    style="max-width:1200px;padding-bottom:0;display:inline!important;vertical-align:bottom"
                                                                                    class="m_2620007243134619526mcnImage CToWUd"
                                                                                    data-bit="iit">
                                                                                <p>
                                                                                    <span
                                                                                        style="font-family:arial,helvetica neue,helvetica,sans-serif">
                                                                                        <span style="font-size:21px">
                                                                                            Tu cambio de rol ha
                                                                                            sido aprobado
                                                                                            <img data-emoji="😊"
                                                                                                class="an1" alt="😊"
                                                                                                aria-label="😊"
                                                                                                src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f60a/32.png"
                                                                                                loading="lazy"><br>
                                                                                            <br>
                                                                                            <br>
                                                                                            Tu nuevo rol es: {{rol}}
                                                                                            <br>
                                                                                            <br>
                                                                                            Puedes volver a HenryAsk
                                                                                            pulsando el
                                                                                            botón
                                                                                            <br>
                                                                                        </span>
                                                                                    </span>
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px"
                                                                valign="top" align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    style="border-collapse:separate!important;border-radius:4px;background-color:#fff000">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle"
                                                                                style="font-family:Arial;font-size:13px;padding:18px">
                                                                                <a class="m_2620007243134619526mcnButton"
                                                                                    title="Completar mi declaración"
                                                                                    href="http://localhost:5173/home"
                                                                                    style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#0f0f0f"
                                                                                    target="_blank">
                                                                                    HOME
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
    </div>
    </div>
</body>

</html>