<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id=":3rc" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0.">
        <div>
            <center>
                <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="564px">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" id="m_2620007243134619526bodyCell">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                    class="m_2620007243134619526templateContainer">
                                    <tbody>
                                        <tr>
                                            <td valign="top" id="m_2620007243134619526templatePreheader">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:9px">
                                                                <table align="left" width="100%" border="0"
                                                                    cellpadding="0" cellspacing="0"
                                                                    style="min-width:100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top"
                                                                                style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                <img align="center" alt=""
                                                                                    src="https://lh3.googleusercontent.com/pw/AL9nZEWEzEnEk3s-nFC1_c6gfywOXnQmHxDGc-O2DdxVXQiSrLDTpaQerjaxqWkAH5x5nAkmLZ2e-WMZjlQAlFA9d1NrcQQWGMrsPtu5MLDH0rXtov9xt1et7LTKGmLfGfPVJY7y8uo5Ftz3y1OhHVfjwhk=w1200-h200-no?authuser=0"
                                                                                    width="564" height="94"
                                                                                    style="max-width:1200px;padding-bottom:0;display:inline!important;vertical-align:bottom"
                                                                                    class="m_2620007243134619526mcnImage CToWUd"
                                                                                    data-bit="iit">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" id="m_2620007243134619526templateHeader">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-top:9px">
                                                                <table align="center" border="0" cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="max-width:100%;min-width:100%" width="100%"
                                                                    class="m_2620007243134619526mcnTextContentContainer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top"
                                                                                class="m_2620007243134619526mcnTextContent"
                                                                                style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                <img src="https://lh3.googleusercontent.com/UfZ9xy02l8ZsAATf5XvJSfAnLqQBdO1XczvPDIDT35xP9FVDZ1nB3mvRYJeK8xODzt2q3f1bZP4yaWaVainnDgErYl9Dahvs_1c-P1WK9QWeJO7lgPFh7CZ3ZX-9OWhXxpcuUlLjbwaDmadSV_0mtU3kuThZSNPHIUVy-cN6demTHEPHHg5xtTAkmS13H9EOB07Z8kmHMMEkK2le3CHUKKrJwtR-AVix3h__xiPkx8wjuu4hWVyZMvrn809_2lQhxnxRiQ1Cdg9JeF-285SgPWjLSzF9G9SNY6O6z5HyxLirH4mEN3ZhJRjRCyQDAqyl7jzXj9e0MNN9xDgwEh3s4N16uEPrZEb6QK8pj5KSHYKna3dA1sQHVBPboDwqorC8fh1X33o8FDKEPVRB53BWy4rFQYPmsgrgfBdw1hy6zxOmZnGrsm9ylM1h2Wshj1dwCH5AesfUiTmEC-3FQLDPxT0xE3QHAZPP5mxpvbcv75cCCEE9Z78N7oBEKyM0Ge5F-ggeLX4-Jhm_us6zxg2kYe8TahvMIMI49H7XfGhme779foClmkTiJF--gEsXlMfv3DxNGfRLn1sB5wyUXERRST-DdkdR6ny3iEG8YUgtC_4rsK0NsfhYaPJ-kpFShYuDnQb78h2GrpwnpCaO8j30hH5RCWRy30RudR3SEhlI3Qo8IOPNGIY4M1f3mHqkeN41DsMUk5ZCuqshktFjKk0nvy3-n-adTDr5oRALSc3UbTuf0HURaYMs5yQ3_UoOKR9_-3Ix27Cbui3d5c6Fbf1DIQbn1evmrKSjKB5o1rPzdYJeesqxw-M3irfOPJxvcEjQ7VKbozR7IRc6-ZU0nGU3_QvCY43xSZpa8T7x5NB4C79U8_61dDl_IVcIZPi-YubpmY3K-9aaG0jlV2EfCTtUsU4iJJyJoYNyoetcArTxU-JNLhtTuLpdAc59byGSvcy8trrZoAmkyKNjvyukfmWD=w558-h559-no?authuser=0"
                                                                                    align="center" alt="" width="50"
                                                                                    height="50"
                                                                                    style="max-width:1200px;padding-bottom:0;display:inline!important;vertical-align:bottom"
                                                                                    class="m_2620007243134619526mcnImage CToWUd"
                                                                                    data-bit="iit">
                                                                                <p>
                                                                                    <span
                                                                                        style="font-family:arial,helvetica neue,helvetica,sans-serif;">
                                                                                        <span style="font-size:21px;">
                                                                                            Tu cambio de rol ha
                                                                                            sido denegado
                                                                                            😢
                                                                                        </span>
                                                                                        <br>
                                                                                        <br>
                                                                                        <span style="font-size:21px;">
                                                                                            Razón:
                                                                                        </span>
                                                                                        <br>
                                                                                        <span style="font-size:21px;">
                                                                                            {{reason}}
                                                                                        </span>
                                                                                        <br>
                                                                                        <br>
                                                                                        <span style="font-size:21px;">
                                                                                            Puedes volver a solicitar un
                                                                                            cambio aquí
                                                                                        </span>
                                                                                    </span>
                                                                                </p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px"
                                                                valign="top" align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                    style="border-collapse:separate!important;border-radius:4px;background-color:#fff000">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle"
                                                                                style="font-family:Arial;font-size:13px;padding:18px">
                                                                                <a class="m_2620007243134619526mcnButton"
                                                                                    title="Completar mi declaración"
                                                                                    href="http://127.0.0.1:5173/profile"
                                                                                    style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#0f0f0f"
                                                                                    target="_blank">
                                                                                    PERFIL
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                    style="min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding-top:9px">
                                                                <table align="center" border="0" cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="max-width:100%;min-width:100%" width="100%"
                                                                    class="m_2620007243134619526mcnTextContentContainer">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top"
                                                                                class="m_2620007243134619526mcnTextContent"
                                                                                style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                <span
                                                                                    style="font-family:arial,helvetica neue,helvetica,sans-serif; font-size:21px;">
                                                                                    Si no entiendes por qué el cambio ha
                                                                                    sido rechazado, contáctanos
                                                                                    a
                                                                                </span>
                                                                                <a href="mailto:henryask.soporte@gmail.com"
                                                                                    style="font-family:arial,helvetica neue,helvetica,sans-serif; font-size:21px;"
                                                                                    target="_blank">henryask.soporte@gmail.com</a>
                                                                                <!-- <a class="m_2620007243134619526mcnButton"
                                                                                    title="Completar mi declaración"
                                                                                    href="http://localhost:5173/login"
                                                                                    style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#0f0f0f"
                                                                                    target="_blank">
                                                                                    REGISTRO
                                                                                </a> -->
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
    </div>
    </div>
</body>

</html>